.popup-box {
  border: 1px solid #005983 !important;
  background-image: linear-gradient(180deg, #002962, #00376a) !important;
  border-radius: 6px;
  padding: 10px 0;

  .share-content {
    padding: 0 10px;
    width: 300px;
    .copylink {
      height: 50px;
      background: rgba(2, 0, 46, 0.28);
      border-radius: 2px;
      line-height: 60px;
      display: flex;
      align-items: center;
    }
    .copy-btn {
      width: 100%;
      background: #00a3fe;
      border: 0;
      margin-top: 10px;
      color: #fff;
    }
    .copy-txt {
      background: rgba(2, 0, 46, 0.28);
      border-radius: 2px;
      padding: 10px;
      margin-top: 20px;
      p {
        color: #fff;
        text-align: center;
        line-height: 20px;
        &:nth-of-type(1) {
          margin-bottom: 10px;
        }
      }
    }
    .share-logo {
      margin-top: 10px;
      margin: 10px 20px 10px 20px;
      .logos-share {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .s-logo {
          // margin-right: 38px;
          width: 30px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .btn-canacl {
      height: 42px;
      background: #0094f6;
      border-radius: 8px;
      line-height: 42px;
      text-align: center;
      font-size: 15px;
      color: #ffffff;
      font-weight: 500;
      margin-top: 50px;
    }
  }
}
